header {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f7f7f7;
}

.header__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

#right {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
